body {
	background: white;
	font-family: arial;
}

header{

}

h4 {
	display: inline-block;
	background: #999;
	color: black;
	margin: 0px;
	padding: 0 50px 0 50px;
}

nav ul {
	display: inline;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	float = left;
}

a {
	color: green;
}

p {
	background: white;
	color: black;
}


section {

}
