body {
	background: white;
	font-family: arial;
}

h1, h2, li {
	color: black;
} 

a {
	color: green;
}

p {
	background: #666;
	color: white;
	padding: 10px;
}

section {

}

.secondary {
	background: none;
	color: #777;
}

#special {
	background: red;
	color: white;
}