<!doctype html>
<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<title>{{ movie_data.0.0 }} - Gator Movie Central</title>
		<style>
		body {
			background: white;
			font-family: arial;
		}

		h1, h2, li {
			color: black;
		}

		a {
			color: green;
		}

		p {
			background: #666;
			color: white;
			padding: 10px;
		}

		section {

		}

		.secondary {
			background: none;
			color: #777;
		}

		#special {
			background: red;
			color: white;
		}
		</style>
	</head>

	<body>

		{% if movie_data %}

		<center>
		<h1>{{ movie_data.0.0 }}</h1>
		<h4>
		<strong>Quick Information:</strong>
		</h4>
		<p>
			MPAA Rating:	<span>{{ movie_data.1.0 }}</span><br>
			Runtime:		<span>{{ movie_data.2.0 }}</span><br>
			Genre:			<br>
			{% for genre in movie_data.3 %}
			<span>{{ genre.0 }}</span><br>
			{% endfor %}
			Release Date:	<span>{{ movie_data.4.0 }}</span><br>
			Rating:			<span>{{ movie_data.5.0 }}</span>
		</p>

		<h4>
			<strong>People Involved:</strong>
		</h4>
		<p>
			Director:		<br>
			{% for director in movie_data.6 %}
			<a href="/person/{{ director.1 }}">{{ director.0 }}</a><br>
			{% endfor %}
			Writer(s):		<br>
			{% for writer in movie_data.7 %}
			<a href="/person/{{ writer.1 }}">{{ writer.0 }}</a><br>
			{% endfor %}
			Cast:			<br>
			<div class="row">
			<div class="container col-md-4">
			<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Actor</th>
					<th>Character</th>
				</tr>
			</thead>
			<tbody>
				{% for actor in movie_data.8 %}
				<tr>
					<td><a href="/person/{{ actor.1 }}">{{ actor.0 }}</a></td>
					<td>{{ actor.2 }}</td>
				</tr>
				{% endfor %}
			</tbody>
			</table>
		</div>
	</div>
		</p>

			<strong>Box Office:</strong>
		</h4>
		<p>
			Budget:				<span>{{ movie_data.9.0 }}</span><br>
			Opening Weekend:	<br>
			{% for weekend in movie_data.10 %}
			<span>{{ weekend.0 }}</span><br>
			{% endfor %}
			Weekend Gross:		<br>
			{% for weekendgr in movie_data.11 %}
			<span>{{ weekendgr.0 }}</span><br>
			{% endfor %}
			Gross:				<br>
			{% for gross in movie_data.12 %}
			<span>{{ gross.0 }}</span><br>
			{% endfor %}
		</p>

		<h4>
			<strong>Production Company</strong>
		</h4>
		<p>
			{% for comp in movie_data.13 %}
			<span>{{ comp.0 }}</span><br>
			{% endfor %}
		</p>

		</center>

		{% else %}
		<h1>ERROR</h1>
		<h2>Movie with id {{ id }} not found!</h2>
		{% endif %}

	</body>
</html>
