<!doctype html>
<html>
	<head>
		<title>Movies</title>
		<style>
		body {
			background: white;
			font-family: arial;
		}

		h1, h2, li {
			color: black;
		}

		a {
			color: green;
		}

		p {
			background: #666;
			color: white;
			padding: 10px;
		}

		section {

		}

		.secondary {
			background: none;
			color: #777;
		}

		#special {
			background: red;
			color: white;
		}
		</style>
	</head>

	<body>

		{% if movie_data %}

		<center>
		<h1>{{ id }}</h1>
		<h2><strong>
			</strong></h3>

		<h4>
		<strong>Quick Information:</strong>
		</h4>
		<p>
			MPAA Rating:	<span></span><br>
			Runtime:		<span></span><br>
			Genre:			<span></span><br>
			Release Date:	<span></span><br>
			Rating:			<span></span>
		</p>

		<h4>
			<strong>People Involved:</strong>
		</h4>
		<p>
			Director:		<span></span><br>
			Writer(s):		<span></span><br>
			Cast:			<span></span>
		</p>

		<h4>
			<strong>Details:</strong>
		</h4>
		<p>
			Countries: USA		<br>
			Languages: English	<br>
			Release Date:	<span></span>
		</p>

			<strong>Box Office:</strong>
		</h4>
		<p>
			Budget:				<span></span><br>
			Opening Weekend:	<span></span><br>
			Weekend Gross:		<span></span><br>
			Gross:				<span></span>
		</p>

		<h4>
			<strong>Production Company</strong>
			Co. Name: 		<span></span>
		</h4>
		<p>
			<span></span>
		</p>

		</center>
		<center>
		</center>

		{% else %}
		<h1>ERROR</h1>
		<h2>Movie with id {{ id }} not found!</h2>
		{% endif %}

	</body>
</html>
