<!doctype html>
<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart","line"]});
      google.charts.setOnLoadCallback(drawChart1);
			google.charts.setOnLoadCallback(drawChart2);
      function drawChart1() {
        var data = google.visualization.arrayToDataTable([
          ['Rating', '# of Movies'],
          ['Excellent (8-10)', {{ person_data.13.0 }}],
          ['Good (5-7.9)', {{ person_data.14.0 }}],
          ['Poor (0-4.9)', {{ person_data.15.0 }}]
        ]);

      var options = {
        legend: 'none',
        pieSliceText: 'label',
        title: 'Movies by Rating',
        pieStartAngle: 100,
      };

        var chart1 = new google.visualization.PieChart(document.getElementById('piechart'));
        chart1.draw(data, options);
      }

			function drawChart2() {

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Year');
      data.addColumn('number', 'Avg. Rating');
			data.addColumn('number', '# of Movies');

      data.addRows([
				{% for year in person_data.16 %}
        [new Date({{ year.0 }},1,1),  {{ year.1 }}, {{ year.2 }}],
				{% endfor %}
      ]);

      var options = {
        chart: {
          title: 'Average Movie Ratings/Number of Movies Made Per Year',
        },
        width: 900,
        height: 500,
        axes: {
          x: {
            0: {side: 'bottom'}
          }
        },
				hAxis: {
          format: 'yyyy'				}
      };

			var chart2 = new google.charts.Line(document.getElementById('line_top_x'));

		chart2.draw(data, options);
	}


    </script>
		<title>{{ person_data.0.0 }} - Gator Movie Central</title>
		<style>
		body {
			background: white;
			font-family: arial;
		}

		h1, h2, li {
			color: black;
		}

		a {
			color: green;
		}

		p {
			background: #666;
			color: white;
			padding: 10px;
		}

		section {

		}

		.secondary {
			background: none;
			color: #777;
		}

		#special {
			background: red;
			color: white;
		}
		</style>
	</head>

	<body>
		<center>

		<h1>{{ person_data.0.0 }}</h1>

		<h4>
			{{ person_data.1.0 }} - {{ person_data.2.0 }}<br>
			Spouse: {{ person_data.3.0 }}<br>
			Gender: {{ person_data.4.0 }}<br>
			Height: {{ person_data.5.0 }}
		</h4>

	</center>


		<div class="row">

		<div class="container col-md-4">
			Acted in:
		<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>Movie</th>
				<th>Character</th>
			</tr>
		</thead>
		<tbody>
			{% for movie in person_data.6 %}
			<tr>
				<td><a href="/movie/{{ movie.0 }}">{{ movie.1 }}</a></td>
				<td>{{ movie.2 }}</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>

	<div class="container col-md-3">
		Directed:
	<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>Movie</th>
		</tr>
	</thead>
	<tbody>
		{% for movie in person_data.7 %}
		<tr>
			<td><a href="/movie/{{ movie.0 }}">{{ movie.1 }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
</div>

<div class="container col-md-3">
	Wrote:
<table class="table table-condensed table-hover">
<thead>
	<tr>
		<th>Movie</th>
	</tr>
</thead>
<tbody>
	{% for movie in person_data.8 %}
	<tr>
		<td><a href="/movie/{{ movie.0 }}">{{ movie.1 }}</a></td>
	</tr>
	{% endfor %}
</tbody>
</table>
</div>

</div>
<div class="row">
<div class="container col-md-3">
Same birthday:
<table class="table table-condensed table-hover">
<thead>
	<tr>
		<th>Name</th>
	</tr>
</thead>
<tbody>
	{% for bd in person_data.9 %}
	<tr>
		<td><a href="/person/{{ bd.0 }}">{{ bd.1 }}</a></td>
	</tr>
	{% endfor %}
</tbody>
</table>
</div>

<div class="container col-md-3">
Same height:
<table class="table table-condensed table-hover">
<thead>
	<tr>
		<th>Name</th>
	</tr>
</thead>
<tbody>
	{% for ht in person_data.10 %}
	<tr>
		<td><a href="/person/{{ ht.0 }}">{{ ht.1 }}</a></td>
	</tr>
	{% endfor %}
</tbody>
</table>
</div>

<div class="container col-md-3">
Top 3 Movies (by rating):
<table class="table table-condensed table-hover">
<thead>
	<tr>
		<th>Movie</th>
	</tr>
</thead>
<tbody>
	{% for top in person_data.11 %}
	<tr>
		<td><a href="/movie/{{ top.0 }}">{{ top.1 }}</a></td>
	</tr>
	{% endfor %}
</tbody>
</table>
</div>

<div class="container col-md-3">
Bottom 3 Movies (by rating):
<table class="table table-condensed table-hover">
<thead>
	<tr>
		<th>Movie</th>
	</tr>
</thead>
<tbody>
	{% for low in person_data.12 %}
	<tr>
		<td><a href="/movie/{{ low.0 }}">{{ low.1 }}</a></td>
	</tr>
	{% endfor %}
</tbody>
</table>
</div>
</div>
<center>
<div class="row">
<div id="piechart" style="width: 900px; height: 500px;"></div>
</div>
<div class="row">
<div id="line_top_x"></div>
</div>
</center>
<br>
	</body>
</html>
